{% extends 'base.html' %}
{% block content %}
<section class="text-center">
  <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Моє фото" class="rounded-circle mb-3" width="180">
  <h1 class="mb-4">Третяк Мирослав</h1>
</section>
<section><h2>Про себе</h2><p>Студент, який вивчає розробку вебзастосунків на Python</p></section>
<section><h2>Освіта</h2><p>Карпатський національний університет імені Василя Стефаника — спеціальність "Інженерія програмного забезпечення"</p></section>
<section><h2>Навички</h2><ul class ="checklist"><li>Python (Flask)</li><li>Java (JDBC, Threads)</li><li>SQL, MySQL</li></ul></section>
<section><h2>Технології</h2><p>Git, GitHub, VS Code, Render, HTML, CSS, Bootstrap</p></section>
<section><h2>Досвід / Проєкти</h2><p>Створення інтернет-магазину на PHP, бази даних для магазину</p></section>
{% endblock %}