<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('main.home') }}">Tretiak Myroslav</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('main.home') }}">Резюме</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('main.contacts') }}">Контакти</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('users.users_list') }}">Користувачі</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('products.all_products') }}">Продукти</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('posts.index') }}">Блог</a>
        </li>
        {% if current_user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('users.account') }}">Профіль ({{ current_user.username }})</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('users.logout') }}">Вийти</a>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('users.login') }}">Увійти</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('users.register') }}">Реєстрація</a>
        </li>
      {% endif %}
      </ul>
    </div>
  </div>
</nav>